.footer-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: black;
    color: white
}

.footer_text-1{
    width: 25%;
}